.dashPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;
}

.userSec{
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    gap: 5vh;
}

.postArea{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.posts{
    width: 100%;
    height: 100%;
}

.heading{
    padding: 2% 0%;
    color: black;
}

.headingDark{
    color: rgb(0, 102, 185);
}
